<div style="width: 70%; margin: 40px auto">
  <h1>LISTA DE TAREAS</h1>
  <button mat-raised-button color="primary" (click)="openDialogAgregarTarea()">Agregar Tarea</button>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Puede filtrar por cualquier item" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="IdTarea">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.idTarea}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="TituloTarea">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let element"> {{element.tituloTarea}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="FechaFinalizacion">
        <th mat-header-cell *matHeaderCellDef> Fecha Finalizacion </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaFinalizacion}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="CategoriaTarea">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoriaTarea.nombreCategoria}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="EditarTarea">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" (click)="openDialogEditarTarea(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="EliminarTarea">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="warn">
            <mat-icon>delete</mat-icon>
          </button>{{element.idTarea}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>


  <!-- <h1>Desarrollado por Diego Puentes</h1> -->
</div>